<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>1_TabbarControllerLook.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7D0E2F851CC86DC3003192F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D0E2F9E1CC86DC3003192F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D0E2FA91CC86DC3003192F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
